@using Microsoft.AspNetCore.Identity;
@using Project_Burza.Data;

@model TripModel

@inject UserManager<ApplicationUser> UserManager

@{ 
    var user = await UserManager.FindByNameAsync(Model.AuthorName);
    var Name = user.NameAndSurname;
    var phoneNumber = user.PhoneNumber;
}

@*Design it so there is Telephone number highlighted and just a little bit of information*@
<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Odkoupit </h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    </div>
    <div class="modal-body">
        <center>
            <span>Zavolej na</span>
            <h3 class="media-heading">@phoneNumber</h3>            
        </center>
        <hr>
        <center>
            <p class="text-left">
                <span><b>Chata: </b>@Model.Name </span><br />
                <span><b>Autor: </b>@Name</span><br />
                <span><b>Od - Do: </b> @Model.From.ToShortDateString() - @Model.To.ToShortDateString()</span>
                
            </p>
        </center>
    </div>

</div>