@using Project_Burza.Data;
@model AccountModel;


@{ 
    string[] NameSplit = Model.User.NameAndSurname.Split(' ');
    string FirstName = NameSplit[0];
    string LastName = NameSplit[1];


    string base64 = Convert.ToBase64String(Model.User.ProfilePicture);
    string source = String.Format("data:image/gif;base64,{0}", base64);
}

<!-- start banner Area -->
<section class="relative about-banner">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    Správa účtu
                </h1>
                <p class="text-white link-nav"><a href="@Url.Action("Index", "Home")">Domů </a>  <span class="lnr lnr-arrow-right"></span>  <a href="@Url.Action("LawSecurity", "Home")"> Správa účtu</a></p>
            </div>
        </div>
    </div>
</section>
<section class="">
    <div class="emp-profile">
        <form method="post">
            <div class="row">
                <div class="col-md-4">
                    <div class="profile-img">
                        <img src="@source" alt="" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="profile-head">
                        <h5>
                            @Model.User.NameAndSurname
                        </h5>
                        <h6>
                            Běžný uživatel
                        </h6>
                        <p class="proile-rating">Příspěvky : <span>@Model.TripPosts.Count()</span></p>
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Info</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Moje příspěvky</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2">
                    <a class="genric-btn default-border circle medium mb-3" href="@Url.Action("EditUser","Account")" name="btnAddMore">Upravit profil</a>
                </div>
            </div>
            <div class="row" >
                <div class="col-md-4" style="visibility:hidden;">
                   
                </div>
                <div class="col-md-8">
                    <div class="tab-content profile-tab" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Jméno</label>
                                </div>
                                <div class="col-md-6">
                                    <p>@FirstName</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Přijmení</label>
                                </div>
                                <div class="col-md-6">
                                    <p>@LastName</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Email</label>
                                </div>
                                <div class="col-md-6">
                                    <p>@Model.User.Email</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Heslo</label>
                                </div>
                                <div class="col-md-6">
                                    <p>************</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Telefonní číslo</label>
                                </div>
                                <div class="col-md-6">
                                    <p>@Model.User.PhoneNumber</p>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            <div class="row" style="margin-top: -20px;">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="table-responsive">
                                                        <a href="@Url.Action("NewPost","Account")" class="genric-btn primary circle medium mb-3" style="float:right;">Přidat nový příspěvek</a>
                                                        <table class="table center-aligned-table">
                                                            <thead>
                                                                <tr class="text-primary">
                                                                    <th>Název výletu</th>
                                                                    <th>Cena</th>
                                                                    <th>Datum</th>
                                                                    <th>Lokace</th>
                                                                    <th></th>
                                                                    <th></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @if (Model.TripPosts != null && Model.TripPosts.Count() != 0)
                                                                {
                                                                    @for (int i = 0; i < Model.TripPosts.Count(); i++)
                                                                    {
                                                                <tr class="">
                                                                    <td>@Model.TripPosts.ToArray()[i].Name</td>
                                                                    <td>@Model.TripPosts.ToArray()[i].Price</td>
                                                                    <td>@Model.TripPosts.ToArray()[i].From.ToString("MM/dd/yyyy")</td>
                                                                    <td>@Model.TripPosts.ToArray()[i].Location</td>
                                                                    <td><a href="#" class="genric-btn info circle small">Editovat</a></td>
                                                                    <td><a asp-action="DeletePost" asp-controller="Account" asp-route-idP="@Model.TripPosts.ToArray()[i].Id" class="genric-btn danger circle small">Smazat</a></td>
                                                                    <td></td>

                                                                </tr>
                                                                    }
                                                                }
                                                                else
                                                                {
                                                                    <tr class="">
                                                                        
                                                                        <h6 style="margin-right:500px; margin-top:8px">Nenalezeny žádné záznamy. </h6>
                                                                        
                                                                        
                                                                       
                                                                    </tr>
                                                                    
                                                                }
                                                            </tbody>

                                                        </table>
                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                           </div>
                        </div>




                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
