<!-- start banner Area -->
<section class="about-banner relative">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    O nás
                </h1>
                <p class="text-white link-nav"><a href="@Url.Action("Index","Home")">Domů </a>  <span class="lnr lnr-arrow-right"></span>  <a href="@Url.Action("About","Home")"> O nás</a></p>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->


<section class="hlavni-sekce team" id="team">
    <!--main-section team-start-->
    <div class="container">
        <div class="team-leader-block clearfix">
            <div class="team-leader-box">
                <div class="team-leader wow fadeInDown delay-03s">
                    <div class="team-leader-shadow"><a href="#"></a></div>
                    <img src="/img/team-leader-pic1.png" alt="">
                    <ul>
                        <li><a href="#" class="fa fa-dribbble"></a></li>
                        <li><a href="#" class="fa-facebook"></a></li>
                    </ul>
                </div>
                <h3 class="wow fadeInDown delay-03s">Jana Červenková</h3>
                <span class="wow fadeInDown delay-03s">Zakladatelka nápadu</span>
            </div>
            <div class="team-leader-box">
                <div class="team-leader  wow fadeInDown delay-06s">
                    <div class="team-leader-shadow"><a href="#"></a></div>
                    <img src="/img/team-leader-pic2.jpg" alt="">
                    <ul>
                        <li><a href="#" class="fa-google-plus"></a></li>
                        <li><a href="#" class="fa-facebook"></a></li>
                    </ul>
                </div>
                <h3 class="wow fadeInDown delay-06s">Dan Vyhlídal</h3>
                <span class="wow fadeInDown delay-06s">Hlavní vývojář</span>
            </div>
            <div class="team-leader-box">
                <div class="team-leader wow fadeInDown delay-09s">
                    <div class="team-leader-shadow"><a href="#"></a></div>
                    <img src="/img/team-leader-pic3.png" alt="">
                    <ul>
                        <li><a href="#" class="fa-google-plus"></a></li>
                        <li><a href="#" class="fa-facebook"></a></li>
                    </ul>
                </div>
                <h3 class="wow fadeInDown delay-09s">Jana Traplová</h3>
                <span class="wow fadeInDown delay-09s">Právnička</span> 
            </div>
        </div>
    </div>
</section><!--main-section team-end-->

<section>
    <div class="whole-wrap">
        <div class="container">
            <div class="section-top-border">
                <h2 class="mb-30">Kdo jsme ?</h2>
                <div class="row">
                    <div class="col-lg-12">
                        <blockquote class="generic-blockquote text-left">
                            <div>
                                <h3 class="mb-2"><b>Dan Vyhlídal</b></h3>
                                <p style="text-indent: 40px">
                                    Je hlavním vývojářem webové aplikace Holidex. Popřípadě, zda na něho máš nějaké otázky, můžeš se jít podívat na jeho webovou stránku.<br />
                                    <a style="margin-left: 40px" href="http://www.danvyhlidal.com">http://www.danvyhlidal.com</a>
                                </p>
                            </div>
                            <div>
                                <h3 class="mb-2"><b>Jana Červenková</b></h3>
                                <p style="text-indent: 40px">
                                    Je  náš hlavní mozek. To právě ona přišla s nápadem na vytvoření přímého střetu poptávky a nabídky v shánění náhradníka  a odkupování výletů na poslední chvíli. Je také blogerka a naše marketing poradkyně.<br />
                                    <a style="margin-left: 40px" href="http://www.sdetmivbaglu.cz">http://www.sdetmivbaglu.cz</a>
                                </p>
                            </div>
                            <div>
                                <h3 class="mb-2"><b>Jana Traplová</b></h3>
                                <p style="text-indent: 40px">
                                    Využívá její vědomosti v oboru práv, a tudíž je zodpovědná za veškeré právní podklady, které se zde na webové aplikaci Holidex vyskytují.
                                    <a style="margin-left: 40px" href="http://janatraplova.cz">http://janatraplova.cz</a>
                                </p>
                            </div>
                            <div class="mb-3" style="border-top: 1px solid black;"></div>
                            <div class="text-center" >
                                Dohromady tvoříme tým webové aplikace Holidex. Prosím měj na paměti, že Holidex se stále vyvýjí a tudiž, když najdeš nějakou chybu, nahlaš ji zkrz kontaktní formulář <a href="@Url.Action("Contact", "Home")">ZDE</a>.
                            </div>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="price-area mt-50">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-70 col-lg-9">
                <div class="title text-center">
                    <h1 class="mb-10 mt-20">Služby které poskytujeme</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="single-other-issue">
                    <div class="thumb">
                        <img class="img-fluid" src="~/img/New/Typing.jpg" alt="">
                    </div>
                    <a href="#">
                        <h4>Vlastní inzerát</h4>
                    </a>
                    <p>
                        Když si založíš vlastní účet, máš možnost napsat si vlastní inzerát a využít tak naší marketingové plochy.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-other-issue">
                    <div class="thumb">
                        <img class="img-fluid" src="~/img/New/Buying.jpg" alt="">
                    </div>
                    <a href="#">
                        <h4>Odkupovaní dovolených</h4>
                    </a>
                    <p>
                        Když si založíš vlastní účet, máš možnost zarezervovat, či odkoupit od inzerenta dovolenou.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-other-issue">
                    <div class="thumb">
                        <img class="img-fluid" src="~/img/New/Ad.jpg" alt="">
                    </div>
                    <a href="#">
                        <h4>Reklamní plochu</h4>
                    </a>
                    <p>
                        Pokud máte zájem o pronájem reklamní plochy <a href="@Url.Action("Contact","Home")">kontaktujte nás</a>
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-other-issue">
                    <div class="thumb">
                        <img class="img-fluid" src="~/img/facebook.jpg" alt="">
                    </div>
                    <a href="#">
                        <h4>Sociální sítě</h4>
                    </a>
                    <p>
                        Váš nově podaný inzerát vám rádi sdílneme na naší facebookové stránce. <a href="http://www.facebook.com">ZDE</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End other-issue Area -->

<section id="colorlib-subscribe" class="section-half contact-area " data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center colorlib-heading animate-box">
                <h2>Zústantě s námi v kontaktu</h2>
                <p><i>Více se dozvíte kliknutím na níže uvedé tlačítko</i></p>
                <a href="@Url.Action("Contact", "Home")" class="genric-btn primary circle">Kontakt</a>
            </div>
        </div>
    </div>
</section>