<!-- start banner Area -->
<section class="banner-area relative">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row fullscreen align-items-center justify-content-between">
            <div class="col-lg-6 col-md-6 banner-left">
                <h6 class="text-white">Zachráníme ti peníze a ušetříme tě starostí!</h6>
                <h1 class="text-white">HOLIDEX</h1>
                <p class="text-white">
                    Najdeme ti náhradníka na výlet a to zcela ZADARMO. Veškeré peníze se ti pokusíme vrátit!
                </p>
                <div class="col-md-6 col-md-6">
                    <a href="@Url.Action("Register", "Login")" class="primary-btn text-uppercase">Zaregistrovat se</a>
                </div>

            </div>
            <div class="col-lg-4 col-md-6 banner-right">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="flight-tab" data-toggle="tab" href="#flight" role="tab" aria-controls="flight" aria-selected="true">Dovolené</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="hotel-tab" data-toggle="tab" href="#hotel" role="tab" aria-controls="hotel" aria-selected="false">Chaty</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="flight" role="tabpanel" aria-labelledby="flight-tab">
                        <form class="form-wrap">
                            <input type="text" class="form-control" name="Destinace" placeholder="Destinace " onfocus="this.placeholder = ''" onblur="this.placeholder = 'Destinace'">
                            <input type="text" class="form-control date-picker" name="Datum příjezdu" placeholder="Datum příjezdu " onfocus="this.placeholder = ''" onblur="this.placeholder = 'Datum příjezdu '">
                            <input type="text" class="form-control date-picker" name="Datum odjezdu" placeholder="Datum odjezdu " onfocus="this.placeholder = ''" onblur="this.placeholder = 'Datum odjezdu '">
                            <input type="number" min="1" max="20" class="form-control" name="Dospělí" placeholder="Dospělí " onfocus="this.placeholder = ''" onblur="this.placeholder = 'Dospělí '">
                            <input type="number" min="1" max="20" class="form-control" name="Děti" placeholder="Děti " onfocus="this.placeholder = ''" onblur="this.placeholder = 'Děti '">
                            <a href="#" class="primary-btn text-uppercase">Hledat dovolené</a>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="hotel" role="tabpanel" aria-labelledby="hotel-tab">
                        <form class="form-wrap">
                            <input type="text" class="form-control" name="name" placeholder="From " onfocus="this.placeholder = ''" onblur="this.placeholder = 'From '">
                            <input type="text" class="form-control" name="to" placeholder="To " onfocus="this.placeholder = ''" onblur="this.placeholder = 'To '">
                            <input type="text" class="form-control date-picker" name="start" placeholder="Start " onfocus="this.placeholder = ''" onblur="this.placeholder = 'Start '">
                            <input type="text" class="form-control date-picker" name="return" placeholder="Return " onfocus="this.placeholder = ''" onblur="this.placeholder = 'Return '">
                            <input type="number" min="1" max="20" class="form-control" name="adults" placeholder="Adults " onfocus="this.placeholder = ''" onblur="this.placeholder = 'Adults '">
                            <input type="number" min="1" max="20" class="form-control" name="child" placeholder="Child " onfocus="this.placeholder = ''" onblur="this.placeholder = 'Child '">
                            <a href="#" class="primary-btn text-uppercase">Search Hotels</a>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="holiday" role="tabpanel" aria-labelledby="holiday-tab">
                        <form class="form-wrap">
                            <input type="text" class="form-control" name="name" placeholder="From " onfocus="this.placeholder = ''" onblur="this.placeholder = 'From '">
                            <input type="text" class="form-control" name="to" placeholder="To " onfocus="this.placeholder = ''" onblur="this.placeholder = 'To '">
                            <input type="text" class="form-control date-picker" name="start" placeholder="Start " onfocus="this.placeholder = ''" onblur="this.placeholder = 'Start '">
                            <input type="text" class="form-control date-picker" name="return" placeholder="Return " onfocus="this.placeholder = ''" onblur="this.placeholder = 'Return '">
                            <input type="number" min="1" max="20" class="form-control" name="adults" placeholder="Adults " onfocus="this.placeholder = ''" onblur="this.placeholder = 'Adults '">
                            <input type="number" min="1" max="20" class="form-control" name="child" placeholder="Child " onfocus="this.placeholder = ''" onblur="this.placeholder = 'Child '">
                            <a href="#" class="primary-btn text-uppercase">Search Holidays</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Jak to funguje sekce -->

<section class="home-about-area section-half">
    <div class="row d-flex justify-content-center">
        <div class="menu-content pb-25 col-lg-8">
            <div class="title text-center">
                <h1 class="mb-10">Jak to funguje</h1>
                <p>Pomocí pár kliknutí tlačítek budeš moci <b>psát inzeráty</b>, či <b>kupovat si vlastní výlety</b></p>
            </div>
        </div>
    </div>
    <div class="container-fluid">

        <div class="row align-items-center justify-content-end">

            <div class="col-lg-12 col-md-12 home-about-right no-padding">
                <div class="whole-wrap">
                    <div class="container">
                        <div class="section-top-border">

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="single-defination text-center">
                                        <h3 class="mb-20">REGISTRACE</h3>
                                        <p>
                                            Úplně první krok co musíš udělat je se přihlásit, či zaregistrovat.
                                        </p>
                                        <div class="container border-top-generic">
                                            <div class="mt-50">
                                                <a href="@Url.Action("Login", "Login")" class="genric-btn primary">Přihlásit se</a>

                                            </div>
                                            <div class="mt-10">
                                                <a href="@Url.Action("Register", "Login")" class="genric-btn default">Zaregistrovat se</a>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="single-defination text-center">
                                        <h3 class="mb-20">Přidat příspěvek</h3>
                                        <p>
                                            Kliknutím na níže zobrazené tlačítko se ti zobrazí nastavení a konfigurace tvého profilu a příspěvků. Zde můžeš přidávat vlastní příspěvky a upravovat své osobní údaje.
                                        </p>
                                    </div>
                                    <div class="single-defination text-center mt-20" style="position:absolute;bottom:12%;left:33%">
                                        <a href="@Url.Action("Account","Login")" class="genric-btn info">Správa účtu</a>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="single-defination text-center">
                                        <h3 class="mb-20">PŘÍSPĚVKY</h3>
                                        <p>
                                            Nyní již máš veškeré potřebné informace k tomu, aby jsi mohla spravovat své příspěvky, či naopak nakupovala dovolené, jak je jen libo.
                                        </p>

                                    </div>
                                    <div class="single-defination text-center mt-20" style="position:absolute;bottom:12%;left:33%">
                                            <a href="@Url.Action("Trips","Trip")" class="genric-btn info">Dovolené zde</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<!-- End banner Area -->


<section class="price-area ">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-70 col-lg-9">
                <div class="title text-center">
                    <h1 class="mb-10">Služby které poskytujeme</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="single-other-issue">
                    <div class="thumb">
                        <img class="img-fluid" src="~/img/New/Typing.jpg" alt="">
                    </div>
                    <a href="#">
                        <h4>Vlastní inzerát</h4>
                    </a>
                    <p>
                        Když si založíš vlastní účet, máš možnost napsat si vlastní inzerát a využít tak naší marketingové plochy.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-other-issue">
                    <div class="thumb">
                        <img class="img-fluid" src="~/img/New/Buying.jpg" alt="">
                    </div>
                    <a href="#">
                        <h4>Odkupovaní dovolených</h4>
                    </a>
                    <p>
                        Když si založíš vlastní účet, máš možnost zarezervovat, či odkoupit od inzerenta dovolenou.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-other-issue">
                    <div class="thumb">
                        <img class="img-fluid" src="~/img/New/Ad.jpg" alt="">
                    </div>
                    <a href="#">
                        <h4>Reklamní plochu</h4>
                    </a>
                    <p>
                        Pokud máte zájem o pronájem reklamní plochy <a href="@Url.Action("Contact","Home")">kontaktujte nás</a>
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-other-issue">
                    <div class="thumb">
                        <img class="img-fluid" src="~/img/facebook.jpg" alt="">
                    </div>
                    <a href="#">
                        <h4>Sociální sítě</h4>
                    </a>
                    <p>
                        Váš nově podaný inzerát vám rádi sdílneme na naší facebookové stránce. <a href="http://www.facebook.com">ZDE</a>
                    </p>    
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End other-issue Area -->



<!-- Start testimonial Area -->
<section class="testimonial-area section-gap">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-70 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">Co o nás říkají naši klienti ?</h1>
                    <p>Našli jsme a zaplnili díru na trhu, ale bez vás lidí by to nešlo.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="active-testimonial">
                <div class="single-testimonial item d-flex flex-row">
                    <div class="thumb">
                        <img class="img-fluid" src="img/elements/user1.png" alt="">
                    </div>
                    <div class="desc">
                        <p>Váš web mě neskutečně potěšil. Perfektní a přehledné design zpracování a funkce co webová aplikace plní je neskutečně užitečná.</p>
                        <h4>Alžběta Hořanská</h4>
                        <div class="star">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                </div>
                <div class="single-testimonial item d-flex flex-row">
                    <div class="thumb">
                        <img class="img-fluid" src="img/elements/user2.png" alt="">
                    </div>
                    <div class="desc">
                        <p>Tohle je fakt pecka! Už jsem odkoupil 1 zájezd a už se těším na další :)</p>
                        <h4>Jaroslav Dušek</h4>
                        <div class="star">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                </div>
                <div class="single-testimonial item d-flex flex-row">
                    <div class="thumb">
                        <img class="img-fluid" src="img/elements/user1.png" alt="">
                    </div>
                    <div class="desc">
                        <p>Naše rodinka onemocněla na poslední chvíli, díky bohu, že existuje web jako tento. Vrátili se mi peníze a ještě k tomu se na zájezd přihlásil někdo jiný. Děkujem moc !</p>
                        <h4>Henrieta Vokořanská</h4>
                        <div class="star">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End testimonial Area -->

<section id="colorlib-subscribe" class="section-half contact-area " data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center colorlib-heading animate-box">
                <h2>Zústantě s námi v kontaktu</h2>
                <p><i>Více se dozvíte kliknutím na níže uvedé tlačítko</i></p>
                <a class="genric-btn primary circle" href="@Url.Action("Contact","Home")">Kontakt</a>
            </div>
        </div>
    </div>
</section>